:root {
    /* --primary-color: #00380a; */
    --primary-color: #4233b6;
    /* --primary-color: #6D5BFF; */
    --secondary-color: #00D2FF;
    --background-gradient: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    --button-hover-color: var(--secondary-color);
    --input-background: rgba(255, 255, 255, 0.2);
    --text-color: #fff;
    --placeholder-color: #ccc;
    --blur-background: rgba(255, 255, 255, 0.15);
    --box-shadow-color: rgba(0, 0, 0, 0.3);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background: #f4f4f4;
    overflow-x: hidden;
}